<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.waldk33n3r.android.gnosis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gnosis"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.waldk33n3r.android.gnosis.HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.waldk33n3r.android.gnosis.About"
            android:label="@string/title_activity_about"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="org.waldk33n3r.android.gnosis.bible.Bible"
            android:label="@string/title_activity_bible" >
        </activity>
        <activity
            android:name="org.waldk33n3r.android.gnosis.QuizMenu"
            android:label="@string/title_activity_quiz" >
        </activity>
        <!-- Remove when complete with assignment -->
        <activity
            android:name="org.waldk33n3r.android.gnosis.Statistics"
            android:label="@string/title_activity_statistics"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

            <!-- To here -->
        </activity>
        <activity
            android:name="org.waldk33n3r.android.gnosis.Settings"
            android:label="@string/settings_title" >
        </activity>
        <activity
            android:name="org.waldk33n3r.android.gnosis.Quiz"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name="org.waldk33n3r.android.gnosis.games.Games"
            android:label="@string/title_activity_games"
            android:parentActivityName="org.waldk33n3r.android.gnosis.HomeScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.waldk33n3r.android.gnosis.HomeScreen" />
        </activity>
        <activity
            android:name="org.waldk33n3r.android.gnosis.games.frog.Main"
            android:label="@string/title_activity_frog_main"
            android:parentActivityName="org.waldk33n3r.android.gnosis.games.Games"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.waldk33n3r.android.gnosis.games.Games" />
        </activity>
        <activity
            android:name="org.waldk33n3r.android.gnosis.games.frog.Game"
            android:label="@string/title_activity_game"
            android:parentActivityName="org.waldk33n3r.android.gnosis.games.frog.Main"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.waldk33n3r.android.gnosis.games.frog.Main" />
        </activity>
        <activity
            android:name="org.waldk33n3r.android.gnosis.bible.BibleChapters"
            android:label="@string/title_activity_bible_chapters" >
        </activity>
    </application>

</manifest>
